<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <connectionStrings>
    <add name="FcsuAgentEntities" connectionString="metadata=res://*/FcsuAgentModel.csdl|res://*/FcsuAgentModel.ssdl|res://*/FcsuAgentModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=s08.winhost.com;Initial Catalog=DB_28354_ppcs;Integrated Security=False;User ID=DB_28354_ppcs_user;Password=tdlb1992;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
        <directoryBrowse enabled="true" />
  </system.webServer>
  
</configuration>
