<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FcsAgentEntities" connectionString="metadata=res://*/FcsAgentModel.csdl|res://*/FcsAgentModel.ssdl|res://*/FcsAgentModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=s08.winhost.com;Initial Catalog=DB_28354_ppcs;Integrated Security=False;User ID=DB_28354_ppcs_user;Password=tdlb1992;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>