<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=s08.winhost.com;Integrated Security=false;Initial Catalog=DB_28354_ppcs;User ID=DB_28354_ppcs_user;Password=tdlb1992" providerName="System.Data.SqlClient" />
    <!--<add name="db_28354_ppcsConnectionString" connectionString="Data Source=s08.winhost.com;Initial Catalog=db_28354_ppcs;Persist Security Info=True;User ID=db_28354_ppcs_user;Password=tdlb1992"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <!--LOCAL HOSTING-->
    <!-- <add key="ServiceProtocol" value="BasicHTTP"/>
    <add key="ServiceBaseUrl" value="localhost:49407"/>
    <add key="ServiceBasePath" value="Service1.svc"/>-->
    <!--Web Hosting-->

      <add key="ServiceProtocol" value="BasicHTTP" />
    <add key="ServiceBaseUrl" value="www.fraternalsoftware.net" />
    <add key="ServiceBasePath" value="test/Service1.svc" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <trust level="Full" />
    

    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
    
      <forms loginUrl="~/Account/Login.aspx" protection="All" timeout="2880" />
     
    </authentication>
    <machineKey validationKey="E3D384D4C4237233C9F0872624AC3C51D3E9422158FEAC15EA15EC58EE590C930ED4AB08FB3F5FFFFC5B9AC05FD6AFC7D5AC2AC5892CD0FD77AD4DFBC894E281" decryptionKey="3F748B38A834D751F1D3519A85F45C4E35E229DE05A81895558BA336B7EB8D34" validation="SHA1" decryption="AES" />
    <membership defaultProvider="FcsuWebMembershipProvider">
      <providers>
        <clear />
        <add name="FcsuWebMembershipProvider" type="FcsuAgentWebApp.Classes.FcsuWebMembershipProvider" />
      </providers>
    </membership>
    <roleManager defaultProvider="FcsuWebRoleProvider" enabled="true">
      <providers>
        <clear />
        <add name="FcsuWebRoleProvider" type="FcsuAgentWebApp.Classes.FcsuWebRoleProvider" />
      </providers>
    </roleManager>
    <profile defaultProvider="AspNetSqlProfileProvider">
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
      <properties>
        <add name="Name" type="String" />
        <add name="agentNumber" type="String" />
        <add name="memberNumber" type="String" />
        <add name="mbrNumber" type="System.Int32" />
      </properties>
    </profile>
    <pages controlRenderingCompatibilityVersion="4.0" />
    <sessionState timeout="30" />
  </system.web>
  <location path="Agent">
    <system.web>
      <authorization>
        <allow roles="agent" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>

  <system.webServer>
    <security>
      <requestFiltering>
        <!-- This will handle requests up to 1024MB (1GB) -->
        <requestLimits maxAllowedContentLength="1048576000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <!--filemax size-->
  <system.web>
    <httpRuntime maxRequestLength="150000" />
 
  </system.web>
 
  <runtime>
 
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
 
          <dependentAssembly>
 
              <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
 
              <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
 
          </dependentAssembly>
 
          <dependentAssembly>
 
              <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
 
              <bindingRedirect oldVersion="0.0.0.0-1.8.6.0" newVersion="1.8.6.0" />
 
          </dependentAssembly>
 
      </assemblyBinding>
 
  </runtime>
</configuration>