<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- The following settings can be set optionally (defaults usually suffice for development hosts) -->
    <!--<add key="ServiceBaseUrl" value="localhost"/>
    <add key="ServiceBasePath" value="dev"/>
    <add key="ServiceBasePort" value="50000"/>-->
  </appSettings>

  <connectionStrings>
    <add name="FcsuAgentEntities" connectionString="metadata=res://*/FcsuAgentModel.csdl|res://*/FcsuAgentModel.ssdl|res://*/FcsuAgentModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=s08.winhost.com;Initial Catalog=DB_28354_ppcs;Integrated Security=False;User ID=DB_28354_ppcs_user;Password=tdlb1992;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>